@import url(http://fonts.googleapis.com/css?family=Oregano);
header{
	background: url("../images/bg.png") repeat-x scroll 0 0 #2E7BCF;
	border-bottom: none;
}
header h1{
	font-family: Oregano;
	font-size: 90px;
	font-weight: bold;
	text-shadow: 1px 3px #AAAAAA;
}
header h2{
	font-weight: bold;
	color: #A9DCFF;
	font-size: 34px;
	text-shadow: 1px 1px #666666;
	width: auto;
}
h1, h2, h3{
	font-family: Oregano !important;
}
a.button{
	font-family: Oregano;
}
a.button small{
	font-size: 15px;
}
#main-content h1:before{
	content: "//";
}
.demo{
	border: 1px solid #F2F2F2;
	width: 920px;
	padding: 10px;
	background-color: #fff;
	text-align: center;
}
.demo button{
	background-color: #327ACC;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	margin: 20px 0;
	padding: 10px 5px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
.demo button:hover{
	background-color: #9DDCFF;
}
.wall {
    padding-left: 10px;
}
.rounded {
    border-radius: 3px;
    margin: 0 10px 10px 0;
    width: 154px;
}
.loading {
    text-align: center;
    margin: 20px 0;
}
.loading img {
    width: 40px;
}
.animate{
	animation-duration: .8s;
	animation-fill-mode: both;
	animation-name: popUp;
	animation-timing-function: ease-in;
	animation-direction: forwards;
}
@-webkit-keyframes popUp {
	0% {
		opacity: 0;
		-webkit-transform-style: preserve-3d;
		-webkit-transform: scale(0.4);
	}

	70% { 
		opacity: .8;
		-webkit-transform: scale(1.1); 
		-webkit-animation-timing-function: ease-out; 
	}
	
	100% { 
		opacity: 1; 
		-webkit-transform: scale(1); 		
	}
}

@keyframes popUp {
	0% {
		opacity: 0;
		transform-style: preserve-3d;
		transform: scale(0.4);
	}

	70% { 
		opacity: .8;
		transform: scale(1.1); 
		animation-timing-function: ease-out; 
	}

	100% { 
		opacity: 1;
		transform: scale(1);  
	}
}